* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding: 12px;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  border-bottom: 1px solid #1e2d41;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: min-content;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}
.box {
  background-color: #482ff7;
  height: 550px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
  top: -12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Footer styles */
.footer {
  background-color: #000000;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer-section {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section li {
  font-size: 16px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 1rem;
  font-size: 14px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
    z-index: 1;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .box {
    background-color: #482ff7;
    height: 550px;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
    top: -30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 0;
    text-align: center;
  }
}
